# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: OS-related
Thumbs.db
ehthumbs.db
Desktop.ini

# Optional: MacOS system files
*.DS_Store

# Optional: Windows system files
$RECYCLE.BIN/

# Optional: dotenv environment files
.env

# Optional: ESLint and Prettier caches
.eslintcache