.sidebar {
    background-color: rgb(41.5, 48, 61);
    height: 100vh;
    width: 250px;
    float: left;
}

.sidebar-header .navbar-logo{
    line-height: 85px;
    border-bottom: 1px solid #323a49;
    border-right: 1px solid #323a49;
}

.sidebar-header .navbar-logo img {
   padding-left: 15px;
}

/* .sidebar .tabbar {
    height: 650px;
} */

.sidebar .tabbar .componentBox {
    border-bottom: 1px solid #323a49;
    height: 51px;
    line-height: 50px;
}

.siderbar .tabbar .componentBox button {
    text-decoration: none;
    font-size: 18px;
    color: wheat;
    padding: 0px 10px;
    display: block;
    border: none;
    width: 100%;
    background-color: rgb(41.5, 48, 61);
    text-align: left;
    height: 50px;
}

.componentBox button:hover{
    background: #323a49;
}

.user_info {
    height: 85px;
    border: 1px solid #323a49;
    background-color: rgb(41.5, 48, 61);
}

.user_info .top-menu {
    float: left;
    line-height: 85px;
    font-size: 18px;
    padding-left: 15px;
}

.linkElement {
    padding: 0 15px;
    text-decoration: none;
    color: wheat;
    width: 120px;
    text-align: left;
}

.user_info .top-menu a:hover{
    color: gray;
}

.user_info .notification-box .dropdown {
    line-height: 85px;
    float: right;
    padding-right: 25px;
}

.main_content {
    width: 83%;
    margin-left: 255px;
}

.job_manage_component .table .btn-col {
    width: 185px;
}

.job_manage_component .table .btn-col button{
    margin:0px 4px;
}

.user_infor_div .btn-danger{
    min-width: 150px;
    float: right;
    margin:25px;
}

.btn_login{
    text-decoration: none;
    color: black;
}

.main_content .filter_group{
    margin: 15px 5px;
}

.main_content .filter_group input{
    margin: 0px 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.main_content .filter_group select{
    height: 28px;
    border-radius: 5px;
    margin-right: 5px;
}

.main_content .filter_group button{
    background-color: #0d6efd;
    border: none;
    height: 30px;
    border-radius: 5px;
    color: white;
}



